*{
	font-family: "verdana", sans-serif;
	font-size: 20px;
}

p{
	color: yellow;
}

h1 {
	font-size: 50px;
}

#h2-selector {
	text-transform: uppercase;
}

.ol-selector {
	background-color: lightgreen;
}

li[href="#h2-selector"] {
	border: 3px skyblue solid;
}

body img {
	width: 200px;
	height: auto;
	border-radius: 50%;
}

img + ul {
	list-style-type: none;
}

ul > li {
	letter-spacing: 12px;
}

ul ~ p {
	text-align: center;
	color: black;
}